*{
    margin: 0;
    padding: 0;
}

.container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

body{
    color: white;
    animation: changeBackground 3s infinite;
}

@keyframes changeBackground {
    0% {background-color: blue;}
    25% {background-color: blueviolet;}
    50% {background-color: yellowgreen;}
    75% {background-color: violet;}
    100% {background-color: black;}
}